#header-view {
	width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}

.logo{
	padding-left: 10px;
	padding-top: 10px;
	height: 50px;
}

body{
	padding: 0px;
	padding-top: 90px;
}

#address-div {
	float: right;
	margin-right: 0px;
	padding-top: 5px;
	padding-right: 10px;
	font-size: 10px;
	text-align: -webkit-right;
}
html{
	/*margin-top: 100px*/

}

.m-b-0{
	margin-bottom: 0px;
}

/*.table-bordered{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 50px;
	width: 100%;
	border-color: black !important;
}*/

#title-div{
	width: 100%;
    height: 40px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

table{
	font-size: 11px;
	margin-bottom: 15px;
	/*border: 1px solid black !important;*/
	font-weight: 500 !important;
	border-bottom: 1px solid black !important;
}

th,td{
	border: 1px solid black !important;
}

th{
	text-align: center !important;
	font-weight: bold !important;
}

td{
	padding: 3px 5px !important;
}

tr{
	height: 20px !important; 
}

table > tbody > tr > td:first-child{
	width: 140px;
}

table > tbody > tr > td:last-child{
	width: 35px;
}

table > tbody > tr > td:nth-child(10){
	width: 40px;
}

table > tbody > tr > td:nth-child(3){
	width: 45px;
}

#name{
	padding-top: 19px;
	padding-bottom: 10px;
}

#user-info{
	width: 100%;
	height: 100px;
	padding-top: 5px;
}

#user-info-one{
	width: 50%;
	height: 100px;
	float: left;
}

#user-info-two{
	width: 50%;
	height: 100px;
	float: right;
}

#footer-view{
	border-top: 1px solid black;
	width: 100%
}

#footer-info{
    text-align: center;
    font-size: 10px;
    color: gray;
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;

}

footer{
	position: fixed;
	bottom: 0px;
	height: 25px;
}

header{
	position: fixed;
	top: 0px;
	height: 195px;
}

pre{
	background-color: transparent;
	border: none;
	outline: none;
	font-family: 'Montserrat', sans-serif;
}

#total-tr{
	background-color: #dce6f1;
}


