#header-view {
	width: 100%;
    height: 80px;
    border-bottom: 1px solid gainsboro;
}

.logo{
	padding-left: 10px;
	padding-top: 10px;
	height: 60px;
}

thead > tr, tfoot > tr {
	background-color: #F1F8FD;
}

#address-div {
	float: right;
	margin-right: 0px;
	padding-top: 5px;
	padding-right: 10px;
	font-size: 10px;
	text-align: -webkit-right;
}

.m-b-0{
	margin-bottom: 0px;
}

#sector-table{
	margin-top: 10px;
}

#sector-pie-chart{
	height: 220px !important;
	width: 500px !important;
	margin: 0px auto;
	margin-top: -25px;
}

table {
	font-size: 8pt;
}

.table-chart {
	padding-top: 10px;
}

.category-table {
	width: 50%;
	float: left;
}

.sector-chart-container {
    /*padding-right: 105px;*/
	width: 50;
	/*float: right;*/
}

td, th {
    padding: 5px !important;
}

#img{
    border:1px solid black;
}